/application/configs/environment.ini
/application/configs/cron
/public/upload/images/[^.]*
/public/content/html/[^.]*
/public/tmp/[^.]*
/tmp/[^.]*
/logs/[^.]*
/bin/*
/.maintenance
/tests/data/upload/images/[^.]*
/tests/data/mails/[^.]*

.swp
.swo

/vendor/autoload.php
/vendor/behat/
/vendor/composer/
/vendor/fabpot/
/vendor/guzzle/
/vendor/instaclick/
/vendor/php/
/vendor/symfony/
/vendor/phpspec/
/vendor/bin/

/.zfproject.xml
/composer.lock
/composer.phar

/.idea
/*.PHPEditProject
/.directory

/scripts/DavidDev.php
/scripts/AlexDev.php

